@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Muli|Oxyge');
@mixin tri-before{
	-webkit-transform: translateX(-50%) translateY(0) translateY(0) scaleY(0);
	transform: translateX(-50%) translateY(0) translateY(0) scaleY(0);
	-webkit-transition: -webkit-transform .3s cubic-bezier(.755,.050,.855,.060);
	transition: -webkit-transform .3s cubic-bezier(.755,.050,.855,.060);
	transition: transform .3s cubic-bezier(.755,.050,.855,.060);
	transition: transform .3s cubic-bezier(.755,.050,.855,.060),-webkit-transform .4s cubic-bezier(.755,.050,.855,.060);
}
@mixin tri-before-hover{
	-webkit-transform: translateX(100%) translateY(0) translateY(0) scaleY(1);
	transform: translateX(100%) translateY(0) translateY(0) scaleY(1);
	-webkit-transition: -webkit-transform .3s cubic-bezier(.23,1,.32,1);
	transition: -webkit-transform .3s cubic-bezier(.23,1,.32,1);
	transition: transform .3s cubic-bezier(.23,1,.32,1);
	transition: transform .3s cubic-bezier(.23,1,.32,1),-webkit-transform .45s cubic-bezier(.23,1,.32,1);
}
@mixin tri-after-hover{
	-webkit-transform: translateX(200%) translateY(0) scaleY(0);
	transform: translateX(200%) translateY(0) scaleY(0);
	-webkit-transition: -webkit-transform .4s cubic-bezier(.23,1,.32,1);
	transition: -webkit-transform .4s cubic-bezier(.23,1,.32,1);
	transition: transform .4s cubic-bezier(.23,1,.32,1);
	transition: transform .4s cubic-bezier(.23,1,.32,1),-webkit-transform .45s cubic-bezier(.23,1,.32,1);
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}
@mixin tri-after{
	-webkit-transform: translateX(0) translateY(0) scaleY(1);
	transform: translateX(0) translateY(0) scaleY(1);
	-webkit-transition: -webkit-transform .4s cubic-bezier(.23,1,.32,1);
	transition: -webkit-transform .4s cubic-bezier(.23,1,.32,1);
	transition: transform .4s cubic-bezier(.23,1,.32,1);
	transition: transform .4s cubic-bezier(.23,1,.32,1),-webkit-transform .45s cubic-bezier(.23,1,.32,1);
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}
@mixin linedeco-a{
	content:'';
	display:inline-block;
	background:#fff;
	-webkit-transition: -webkit-transform .4s;
	transition: -webkit-transform .4s;
	transition: transform .4s;
	transition: transform .4s,-webkit-transform .4s;
	-webkit-transition-timing-function: cubic-bezier(.665,.14,.785,.285);
	transition-timing-function: cubic-bezier(.665,.14,.785,.285);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}
@mixin linedeco-b{
	-webkit-transition: -webkit-transform .4s;
	transition: -webkit-transform .4s;
	transition: transform .4s;
	transition: transform .4s,-webkit-transform .4s;
	-webkit-transition-timing-function: cubic-bezier(.665,.14,.785,.285);
	transition-timing-function: cubic-bezier(.665,.14,.785,.285);
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}
@mixin borderline {
	content:'';
	display:block;
	width:100px;
	height:2px;
}
@mixin button{
	transform: translateX(0%);
	transition:.4s;
	-webkit-transform: translateX(0%);
	-webkit-transition:.4s;
}
@mixin button-hover{
	transform: translateX(5%);
	transition:.4s;
	-webkit-transform: translateX(5%);
	-webkit-transition:.4s;
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin transform($transf){
	-webkit-transform: $transf;
	-moz-transform: $transf;
	-ms-transform: $transf;
	-o-transform: $transf;
	transform: $transf;
}
@mixin transition($transit){
	-webkit-transition: $transit;
	-moz-transitionm: $transit;
	-ms-transition: $transit;
	-o-transition: $transit;
	transition: $transit;
}

$shadow:0 0 15px rgba(0,0,0,.25);

$basic-font:#282a2d;

*{padding:0; margin:0; text-decoration:none; box-sizing:border-box; }
ul, ol, li{list-style:none;}
a{text-decoration:none; color:#000;}
a:hover a:focus{text-decoration:none;}
img{vertical-align: top; border:0 none;}
.clearfix::before, .clearfix::after, .clearfix:before, .clearfix:after{content:""; display: block;}
.clearfix::after, .clearfix:after{clear: both;}
.hidden{font-size:0px; line-height:0px; text-indent:-9999px;}


html {
	height: 100%;
	position:relative;
}
body {
	height: 100%;
	font-family: 'Muli', sans-serif;
	font-size: 0.625em;
	position:relative;
	background:#e3e8eb;
}
#wraper{
	height: 100%;
	margin:0 auto; 
	position:relative;
	color:$basic-font;
}
.wrap{
	max-width:1140px;
	margin:0 auto;
}
#header{
	width:100%;
	height:auto;
	position:relative;
	background:#A1CBDE;
	padding:50px 20px 40px 20px;

		h1{
		width:150px;
		height:100%;
		display:inline-block;
			img{
			vertical-align:middle;
			width:100%;
			height:auto;
			}
		}
		.menu01{
		display:inline-block;
		float:right;
			li{
			display:inline-block;
			margin-left:20px;
			font-weight:600;
			font-size:1.6em;
			vertical-align:top;
			line-height:.5em;
			padding-top:15px;

				a{
				color:$basic-font;
				}
			
				:after{
				width:100%;
				height:2px;
				@include linedeco-a;
				}
			
				:hover:after{
				width:100%;
				height:2px;
				@include linedeco-b;
				}
			}
		}
		.menu02{
		display:none;
		}

		#nav {
		position: fixed;
		right:20px;
		top: 200px;
		z-index:99;

			a {
			display:block;
			transition:.5s;
			text-align:right;

				.nav_circle{
				@include border-radius(50%);
				line-height: 50px;
				background: #fff;
				margin-bottom:20px;
				width: 10px;
				height: 10px;
				display:inline-block;
				transition:.5s;
				}
				&:hover .nav_circle{
				background:#ccc;
				}
				&.menuon .nav_circle{
				-webkit-transform: scale(1.3,1.3);
				transform: scale(1.3,1.3);
				}
				.nav_txt{
				font-size:1.4em;
				color:#fff;
				padding-right:10px;
				vertical-align:top;
				transition:.5s;
				opacity:0;
				transform:translate(-10px);
				}
				&:hover .nav_txt{
				display:inline-block;
				transform:translate(0px);
				opacity:1;
				}
			}
		}
	}
.section01{
	width:100%;
	height:100%;
	background:#A1CBDE;
	popsition:relative;
	padding-bottom:50px;

	.wrap{
		width:100%;
		heght:100%;
		margin:0 auto;
		text-align:center;
		padding-bottom:50px;
		
		.mainvdo{
			width:70%;
			height:auto;
			display:inline;

			video{
				width:38%;
				height:auto;
				display:inline;
				padding:30px 0;
				}
			.m_bg{
			display:none;
			}
		}
		
		.button{
			position: absolute;
			bottom:1%; left:50%; 
			transform:translate(-50%);
			background:#e24f54;
			width:200px;
			height:50px;
			margin:0 auto;
			@include border-radius(30px);

			a{
			width:100%;
			margin:0 auto;
			display:block;
			position:relative;

				span{
					width:100%;
					height:100%;
					font-size:1.4em;
					font-weight:600;
					line-height:50px;
					color:#fff;
					display:inline-block;
					letter-spacing:.2em;
					@include button;
					}
				:hover{
					@include button-hover;
				}

					&:before {
						position:absolute;
						left:60px;
						top:20px;
						content:'';
						display:inline-block;
						margin-right:10px;
						border-top:5px solid transparent; border-bottom:5px solid transparent; border-left:5px solid #fff;
						@include tri-before;
						}

					&:after {
						position:absolute;
						right:60px;
						top:20px;
						content:'';
						display:inline-block;
						margin-left:10px;
						border-top:5px solid transparent; border-bottom:5px solid transparent; border-left:5px solid #fff;
						@include tri-after;
						}
						
			}
			:hover:before{
				@include tri-before-hover
			}

			:hover:after{
				@include tri-after-hover
			}
		}

		.txt01>p{
			text-align:center;
			color:#fff;

			&:first-child{
				font-size:4em;
				font-weight:600;

					strong{
						font-size:1.2em;
						}
				}

			&:nth-child(2){
				font-size:3.5em;
				font-weight:600;

				&:after {
					margin:30px auto;
					background:#fff;
					@include borderline;
					}
			}

			&:last-child{
				font-size:1.5em;
				padding:0 50px;
			}
		}
	}
}

.section02{
	width:100%;
	padding:50px 0;

	.title_txt02{
		font-size:3em;
		padding:0 0 0 100px;
		}

	.inner02{
		background:#ffacba;
		margin-top:50px;
		position:relative;

		.inner_img02{
			width:55%;
			height:500px;
			display:inline-block;
			text-align:center;

			img{
				width:70%;
				height:auto;
				padding-top:80px;
				}
		}

		.inner_txt02{
			position:absolute;
			right:8%;
			top:-50px;
			width:350px;
			height:450px;
			background:#fff;
			display:inline-block;
			padding:50px;
			box-shadow:$shadow;

			h3{
			font-size:1.6em;
			padding:10px 0 25px 0;
			color:#e3677c;
			}
			p{
			font-size:1.3em;
			line-height:1.8em;
			font-weight:600;

				strong{
				font-size:1.5em;
				}
			}
		}
	}
}
.section03{
	width:100%;
	padding:50px 0;

	.title_txt03{
		font-size:3em;
		padding:0 0 0 100px;
		}
	
	.inner03{
		background:#f8ce6a;
		margin-top:50px;
		position:relative;
		
		div{
		display:inline-block;
		text-align:center;
		margin:4.5%;
		width:15%;
		height:auto;
			.circle{
			display:block;
			background:#fff;
			padding:20%;
			text-align:center;
			@include border-radius(50%);
			box-shadow:$shadow;
				img{
				width:100%;
				height:auto;
				margin:0 auto;
				transition:.5s all;
				-webkit-transition:.5s all;
				}
				.incircle:hover{
				-webkit-transform: scale(1.2,1.2);
				transform: scale(1.2,1.2);
				}
			}

			.circle_txt{
			text-align:center;
			display:block;
			font-size:1.5em;
			padding:20px 0;

				strong{
				display:block;
				}
			}
		}
	}
}
.section04{
	width:100%;
	padding:50px 0;

	.title_txt04{
		font-size:3em;
		padding:0 0 0 100px;
		}
	
	.inner04{
		background:#88cf8f;
		margin-top:50px;
		position:relative;
		padding:50px;

		.pofol{
		position:relative;
		display:inline-block;
		width:30%;
		height:auto;
		margin:1.5%;
		transition:.4s ease-in-out;
		box-shadow:$shadow;

			.normal{
				img{
				width:100%;
				height:auto;
					}
			}
			.over{
			position:absolute;
			left:0px;
			top:0px;
			width:100%;
			height:100%;
			background-position:center;
			background-image:url(./img/mm.png);
			background-repeat:no-repeat;
			background-size:20%;
			background-color:rgba(0,0,0,.5);
			transition:.4s all;
			opacity:0;
			color:#fff;
			margin:0 auto;
			font-size:1.5em;

				strong{
				margin:0 auto;
				display:block;
				text-align:center;
				padding-top:50px;
				}
				span{
				margin:0 auto;
				display:block;
				width:20%;
				}
			}
			&:hover .over{
			display:block;
			opacity:1;
			}
		}
	}
}
.section05{
	width:100%;
	padding-top:50px;

	.title_txt05{
		font-size:3em;
		padding:0 0 0 100px;
		}
	
	.inner05{
		background-color:#feeede;
		background-image:url(./img/05_bg.png);
		margin-top:50px;
		position:relative;
		padding:50px;
		width:100%;

		.inner_img05{
			width:45%;
			height:auto;
			display:inline-block;
			float:right;

			img{
			width:100%;
			}
		}
			
		.formbox{
			width:55%;
			display:inline-block;
			float:left;

			.form_left{
				span{
				font-size:1.4em;
				padding-top:5px;
				line-height:1em;
				display:block;
				}
				
				lable,input{
				border:0 none;
				outline:0 none;
				background:transparent;
				width:80%;
				display:block;
				border-bottom:2px solid #ffacba;
				}
			}
			.form_right{
			margin-bottom:50px;

				span{
				font-size:1.4em;
				padding-top:5px;
				line-height:1em;
				display:block;
				}

				textarea{
					overflow:hidden;
					border:0 none;
					outline:0 none;
					resize: none; wrap:hard;
					background:transparent;
					width:80%;
					height:114px;
					border-bottom:2px solid #ffacba;
					}
				}
			
		.button{
			position:relative;
			background:#e24f54;
			width:200px;
			height:50px;
			text-align:center;
			margin:5% 15%;
			outline:0 none;
			border:0 none;
			@include border-radius(30px);

				a{
				width:100%;
				height:50px;
				margin:0 auto;
				display:block;
				line-height:50px;
				color:#fff;
				letter-spacing:.1em;
					span{
					width:100%;
					height:100%;
					font-size:1.5em;
					display:inline-block;
					@include button;
					}
					:hover{
					@include button-hover;
					}
						&:before {
							position:absolute;
							top:20px;
							left:50px;
							z-index:1;
							content:'';
							display:inline-block;
							border-top:5px solid transparent; border-bottom:5px solid transparent; border-left:5px solid #fff;
							@include tri-before;
							}

						&:after {
							position:absolute;
							top:20px;
							right:50px;
							content:'';
							display:inline-block;
							margin-left:10px;
							border-top:5px solid transparent; border-bottom:5px solid transparent; border-left:5px solid #FFF;
							@include tri-after;
							}
												}
				:hover:before{
					@include tri-before-hover
				}
				:hover:after{
					@include tri-after-hover
					}
				}
			}
		}
}
#footer{
	padding:50px 0 20px 0;
	font-size:1.5em;
	}

.popup_wrap{
	position:fixed;
	left:50%;
	transform:translate(-50%);
	top:2%;
	background:#fff;
	z-index:99;
	width:1000px;
	text-align:center;
	color:#4c4c4c;
	box-shadow:$shadow;

	.popup{
	width:90%;
	margin:0 auto;
	display:none;

		&.on{
		display:block;
		}

		h3{
		font-size:3em;
		padding:40px 0;
		}

		.pop_list{
		display:inline-block;
		font-size:2em;
		vertical-align:top;
		width:22%;
		white-space:nowrap;

			h4{
			padding:2% 0;

			&:after {
				margin:15px auto;
				background:#e3e8eb;
				@include borderline;
				}
			}
			p{
			text-align:left;
			font-size:.8em;
			}
		}
		.pop_more{
		margin:30px auto;

			img{
			width:30%;
			height:auto;
			margin:10px 20px;
			border:2px solid #e3e8eb;
			}
			.m_img{
			width:20%;
			}
			.m_img02{
			height:155px;
			}
		}
		.button{
		width:200px;
		height:50px;
		border:2px solid #e3e8eb;
		display:inline-block;
		@include border-radius(30px);
		font-size:1.5em;
		margin:0px 2%;

			a{
			width:100%;
			margin:0 auto;
			display:block;

				span{
					font-weight:600;
					line-height:45px;
					display:inline-block;
					letter-spacing:.2em;
					@include button;
					}

				:hover{
					@include button-hover;
					}

					&:before {
						content:'';
						display:inline-block;
						margin-right:10px;
						border-top:5px solid transparent; border-bottom:5px solid transparent; border-left:5px solid $basic-font;
						@include tri-before;
						}

					&:after {
						content:'';
						display:inline-block;
						margin-left:10px;
						border-top:5px solid transparent; border-bottom:5px solid transparent; border-left:5px solid $basic-font;
						@include tri-after;
						}
						
				}
				:hover:before{
					@include tri-before-hover
					}

				:hover:after{
					@include tri-after-hover
					}
		}
		.pop_txt{
			text-align:center;
			font-size:1.3em;
			padding:20px 0;
			}
	}
}
@media only screen and (max-width:1000px) {
.section02{
	.inner02{
		.inner_img02{
			width:55%;
			height:460px;
			display:inline-block;
		}
		.inner_txt02{
			position:absolute;
			right:8%;
			top:0px;
			width:45%;
			height:100%;

			h3{
			font-size:1.8em;
			padding:20px 0 35px 0;
			}
			p{
			font-size:1.4em;
			line-height:1.9em;
			font-weight:600;

				strong{
				font-size:1.6em;
				}
			}
		}
	}
}
.section03{
	.inner03{
		div{
		margin:4% 11%;
		width:25%;
		}
	}
}
.section04{
		.inner04{
			.pofol{
			width:42%;
			height:auto;
			margin:3%;
				img{
				width:100%;
				height:auto;
				}
			}
		}
	}
.popup_wrap{
	width:80%;
	.popup{
	width:90%;
		h3{
		font-size:2.5em;
		}
		.pop_list{
		font-size:1.6em;
			h4{
			padding:1.5% 0;
			}
		}
		.pop_more{
		margin:15px auto;

			img{
			width:40%;
			}
			.m_img{
			width:33%;
			}
		}
		.button{
		margin:0.2%;
		}
	}
}
}
@media only screen and (max-width:767px) {

.wrap{
	margin:0 auto;
	padding:0 5%;
}
#header{
	.menu01{
	display:none;
	}
	.menuicon{
	display:inline-block;
	width:30px;
	height:30px;
	float:right;
	cursor:pointer;

		span{
		display: block;
		background: $basic-font;
		width: 100%;
		height: 2px;
		transition:.5s;
		margin-top:10px;
		transform-origin:center center;
		}

		.active span:first-child{
		transform: rotate(-140deg);
		margin-bottom:-12px;
		}
		.active span:last-child{
		transform: rotate(140deg);
		}
	}
	.menu02{
	position:absolute;
	left:0; top:100px;
	width:100%;
	height:350px;
	padding-top:60px;
	z-index:999;
	display:none;
	background:rgba(161,203,222,1);
	
		li{
		text-align:center;
		display:block;
		width:70px;
		margin:0 auto;
		font-size:2em;
		line-height:.8em;
		padding-bottom:35px;

		:after{
		width:100%;
		height:2px;
		@include linedeco-a;
		}
			
		:hover:after{
		width:100%;
		height:2px;
		@include linedeco-b;
		}
	}
}
}

.section01{
	.wrap{
	padding:0 10% 5% 10%;

		.txt01{
		font-size:.9em;
		}
		.mainvdo{
		width:100%;
		height:auto;
		display:block;

			video{
			display:none;
			}
			.m_bg{
			width:70%;
			height:auto;
			display:block;
			margin:0 auto;
			}
		}
		.button{
		position:static;
		transform:none;
		}
	}
}
.section02{
	.wrap{
	padding:0 8% 0 8%;

		.title_txt02{
		font-size:2.5em;
		text-align:center;
		padding:0;
		}
		
		.inner02{
			.inner_img02{
			width:100%;
			height:50%;
			margin:0 auto;
			text-align:center;

				video{
				display:none;
				}
				.m_bg{
				display:inline-block;
				margin:0 auto;
				width:100%;
				height:50%;
				}
			}
			.inner_txt02{
			position:static;
			width:100%;
			height:50%;

			}
		}
	}
}
.section03{
	.wrap{
	padding:0 8% 0 8%;
		.title_txt03{
		font-size:2.5em;
		text-align:center;
		padding:0;
		}
		.inner03{
		text-align:center;
			div{
			margin:5% 12%;
			width:45%;
			}
		}
	}
}
.section04{
	.wrap{
	padding:0 8% 0 8%;

		.title_txt04{
		font-size:2.5em;
		text-align:center;
		padding:0;
		}
		
		.inner04{
		text-align:center;

			.pofol{
			width:80%;
			height:auto;
			margin:4% 1.5%;

				img{
				width:100%;
				height:auto;
				}
			}
		}
	}
}
.section05{
	.wrap{
	padding:0 8% 0 8%;

		.title_txt05{
		font-size:2.5em;
		text-align:center;
		padding:0;
		}
		
		.inner05{
			.inner_img05{
				width:100%;
				height:45%;
				margin:2% auto;
				text-align:center;
				}
			.formbox{
				width:100%;
				height:55%;
				padding-top:30px;
				.form_left{
				float:left;
				width:50%;
				margin:0 auto;
				padding-right:2%;
					input{
					width:100%;
					}
				}
				.form_right{
				float:left;
				width:50%;
				padding-left:2%;
					textarea{
					width:100%;
					}
				}
			}
			.button{
			margin:0 auto;
			}
		}
	}
}
.popup_wrap{
	.popup{
		h3{
		font-size:2.2em;
		line-height:.5em;
		}
		.pop_list{
		width:40%;
		padding:0 1% 3% 1%;
		}
		.pop_more{
		margin:15px auto;

			img{
			margin:1%;
			}
			.m_img02{
			height:auto;
			}
		}
		.pop_txt{
			text-align:left;
			font-size:1.1em;
			padding:10px 0;
			}
	}
}
}